{% if options.logging is defined -%}
from {{ project.slug }}.utils import logger
{%- endif %}


def main():
    {% if options.cli is defined -%}
    commands.parse()
    {%- else -%}
    {% if options.logging is defined -%}
    logger.setup()
    {%- endif %}
    print("Running project {{ project.name }}")
    {%- endif %}


if __name__ == "__main__":
    main()
