{{ project.name }}
===

FIXME_DESCRIPTION

# Setup

```
pip3 install virtualenv
python3 -m venv venv
source ./venv/bin/activate
```

{% if options.package is defined -%}
# Install

```
pip install .
```
{%- endif %}

# Run

{% if options.package is defined -%}
```
project --help
```

or
{%- endif %}

```
python -m project --help
```

# Authors

* FIXME_FIRST FIXME_LAST (FIXME_EMAIL)
