"""
This is a command example
"""
import argparse


def run(args):
    """
    Run the command.
    :param args: Arguments given to the command
    """
    print("This is an command example.")


def parse(prog, args):
    """
    Parse all the arguments given to the command.
    :param prog: Name of the program
    :param args: Arguments given to the command
    """
    parser = argparse.ArgumentParser(prog=prog, description=__doc__)
    return parser.parse_args(args)
